@charset "utf-8";

body,p,li,dl,img,input{border:0;padding:0;margin:0}
input,button,select,textarea{outline:none}
textarea{resize:none}
body{ font-family:"微软雅黑"; font-size:1em;color: #333;}
img{max-width:100%}

.wrapper{padding: 10px;}
.title{font-size: 1.1em;padding-bottom: 10px;border-bottom: 1px solid #ccc;text-align: center;font-weight: bold;}
.subtitle{color: #666;font-size: 0.9em;zoom:1;margin: 5px 0;}
.subtitle:after{content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.source{float: left;}
.date{float: right;}
.content{font-size: 1em !important;color: #333 !important;}
.content img{max-width: 100%;}