<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CategoryMapper">

	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into tb_category(
			title,	
			image_url,	
			sort,
 			createtime,
			updatetime,	
			address_id 
		) values (
			#{title},	
			#{image_url},	
			(select ifnull(max(a.sort),'-1')+1  from tb_category a where a.address_id=#{address_id} ) ,
 			now(),	
			now(),	
			#{address_id}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from tb_category
		where 
			category_id = #{category_id}
	</delete>
 
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
			update  tb_category
			set 
				title = #{title},
				image_url = #{image_url},
   				category_id = category_id
			where 
				category_id = #{category_id}
	</update>
	
	<!-- 修改排序 -->
	<update id="editSort" parameterType="pd">
			update tb_category as g1 join tb_category as g2 on (g1.category_id=#{category_id_one} and g2.category_id = #{category_id_two})
			set    g1.sort = g2.sort,g2.sort=g1.sort
			<if test="address_id != null and address_id != ''">where  address_id=#{address_id}</if>
 	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			title,	
			image_url,		
			createtime,
			updatetime,	
			address_id,
			category_id
		from 
			tb_category
		where 
			category_id = #{category_id}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select 
			title,	
			image_url,	
			sort,	
			createtime,
			updatetime,	
			address_id,
			category_id
		from 
			tb_category
		order by sort
   	</select>
	
	
	<!-- 微信公众号开始使用sql -->
	
	<!-- 列表 -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select 
			title,	
			image_url,	
			sort,	
			createtime,
			updatetime,	
			address_id,
			category_id
		from 
			tb_category
		order by sort
   	</select>
 
	
	
</mapper>