<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Daily_menuMapper">

	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into tb_daily_menu(
 			day,
			lunch_idstr,
			address_id,
 			updatetime 
 		) values (
			#{day},	
			#{lunch_idstr}, 
			#{address_id}, 
 			now() 
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from tb_daily_menu
		where 
			daily_menu_id = #{daily_menu_id}
	</delete>
 
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
			update  tb_daily_menu
			set 
 				lunch_idstr= #{lunch_idstr}  
			where 
				daily_menu_id = #{daily_menu_id}
	</update>
	
 
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			daily_menu_id,
			day,
			lunch_idstr,
 			updatetime 
		from 
			tb_daily_menu
		where 
			daily_menu_id = #{daily_menu_id}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select 
			a.daily_menu_id,
			a.day,
			a.lunch_idstr ,
			a.address_id,
 			a.updatetime 
		from 
			tb_daily_menu a  
 		order by a.day desc
  	</select>
	
	<!-- 微信端开始使用的接口 -->
	
	<!-- 今天的便当列表 -->
	<select id="listAllNowDay" parameterType="pd" resultType="pd">
		select 
			b.category_id,
 			b.lunch_id,
			b.lunch_name,
			b.index_images,
			b.dc_images_small,
			b.dc_images,
			b.sale_money,
			b.show_sale_money,
			b.dc_stocknumber,
			IFNULL(b.send_integral,0) as send_integral,
			(b.sale_money-IFNULL(b.send_integral,0)) as daoshoumoney
		from 
			tb_daily_menu a  
			left join tb_lunch b on a.lunch_idstr like concat(concat('%',b.lunch_id),'%')
 		where
 			a.day=#{day}
  			and b.category_id=#{category_id}
 		order by b.sort
  	</select>
  	
  	
 
	
</mapper>