<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings> 
        <setting name="cacheEnabled" value="false" /> 
        <setting name="useGeneratedKeys" value="true" /> 
        <setting name="defaultExecutorType" value="REUSE" /> 
    </settings>

	<typeAliases>
		<typeAlias type="com.jyw.entity.system.User" alias="User"/>
		<typeAlias type="com.jyw.entity.system.Role" alias="Role"/>
		<typeAlias type="com.jyw.entity.system.Menu" alias="Menu"/>
		<typeAlias type="com.jyw.util.PageData" alias="pd"/>
		<!-- 分页 -->
		<typeAlias type="com.jyw.entity.Page" alias="Page"/>
	</typeAliases>
	
	<plugins>
		<plugin interceptor="com.jyw.plugin.PagePlugin">
			<property name="dialect" value="mysql"/>
			<property name="pageSqlId" value=".*listPage.*"/>
		</plugin>
	</plugins>
	
	<mappers>
	
		<!-- 系统模块    开始 -->
		<!-- 系统用户 -->
		<mapper resource="mybatis/system/UserMapper.xml"/>
		<!-- 系统角色 -->
		<mapper resource="mybatis/system/RoleMapper.xml"/>
		<!-- 系统菜单 -->
		<mapper resource="mybatis/system/MenuMapper.xml"/>
		<!-- 新用户处理 -->
		<mapper resource="mybatis/system/UserXMapper.xml"/>
		<!-- 数据字典 -->
		<mapper resource="mybatis/system/ZidianMapper.xml"/>
		<!-- 定时任务 -->
		<mapper resource="mybatis/system/TaskMapper.xml"/>
		<!-- 系统模块    结束 -->
		
		<!-- 业务模块开始 -->
		<mapper resource="mybatis/business/WMapper.xml"/>
		<mapper resource="mybatis/business/Carousel_figureMapper.xml"/><!-- 轮播图 -->
		<mapper resource="mybatis/business/CategoryMapper.xml"/><!-- 类别 -->
		<mapper resource="mybatis/business/AddressMapper.xml"/><!-- 大厦坐标地点 -->
		<mapper resource="mybatis/business/Delivery_feeMapper.xml"/><!-- 配送费用设置 -->
		<mapper resource="mybatis/business/LunchMapper.xml"/><!-- 便当管理 -->
		<mapper resource="mybatis/business/Daily_menuMapper.xml"/><!-- 每天便当管理 -->
		<mapper resource="mybatis/business/RedpackageMapper.xml"/><!-- 发送红包管理 -->
		<mapper resource="mybatis/business/MemberMapper.xml"/><!-- 会员管理 -->
		<mapper resource="mybatis/business/Scheduled_timeMapper.xml"/><!-- 预定便当管理 -->
		<mapper resource="mybatis/business/Weekmeal_cardMapper.xml"/><!-- 周饭卡管理 -->
		<mapper resource="mybatis/business/OrderMapper.xml"/><!-- 订单管理 -->
		
		 
		 
		 <!-- wx端 -->
		<mapper resource="mybatis/wx/Wxmember_redpackageMapper.xml"/><!-- 会员红包 -->
		<mapper resource="mybatis/wx/Wxmember_tihuojuanMapper.xml"/><!-- 提货卷 -->
		<mapper resource="mybatis/wx/WxmemberMapper.xml"/><!-- 会员 -->
		<mapper resource="mybatis/wx/WxOrderMapper.xml"/><!-- 订单 -->
		<mapper resource="mybatis/wx/WxAddressMapper.xml"/><!-- 地址 -->
		<mapper resource="mybatis/wx/WxShopcartMapper.xml"/><!-- 购物车 -->
		
		
	</mappers>
	
</configuration>