  	  html,body,h1,h2,h3,h4,h5,h6,p,img,ul,li{
			margin: 0;
			border: 0;
			padding: 0;
		}
		body,html{
			height: 100%;
		}
		body{
			font-family: Arial, 微软雅黑, sans-serif;
			overflow:hidden;
		}
		ul,li{
			list-style: none;
		}
		a{
			text-decoration: none;
			color: #000;
		}
		li{
 			position: relative;
			left: 0;
		}
		a, input, button {
		    -webkit-tap-highlight-color: rgba(255,0,0,0);
		    outline: none;
		}
 	
 	
	.top {
	    background: #ff0600;
	    height: 40px;
	    right: 0;
	    top: 0;
	    width: 100%;
	    position: fixed;
	    z-index: 99;
	    font-size: 16px;
	    opacity: 0.8;
	}
	.top div{
		text-align: center;
	    line-height: 40px;
	    color: #fff;
	}
	
	.onesection{
		height:91%;
 		margin-top:40px;
 		overflow-y: scroll;
	}
 
	 /* 首页轮播图 */
	.lunboclass{
		width:100%;
	}
	.lunboclass a {
		width: 100%;
	}
	.lunboclass img{
		    width: 100%;
	}
	.swiper-pagination_2 .swiper-pagination-bullet-active {
		background: #fff;
	}
	 /* 大类banneer */
	.bigsort{
		width:100%;
		    height: 103px;
     
	}
	.bigsort span{
		display:block;
		width: 20%;
		float:left;
		text-align:center;
		margin-top: 10px;
	}
	.bigsort span img{
		width: 60%;
		display: inline;
		padding: 8% 20% 0% 20%;
		margin-bottom: 10%;
	}
	
	 /* 商品 */
	 .allgoods{
		 margin-bottom:20%;
		 width: 100%;
	 }
	.goodsshow{
		width:100%;
		    margin-bottom: 2%;
	}
	.goodsshow .one{
		position:relative;
	}
	.goodsshow img{
		width:100%;
	}
	.goodsshow  .two{
		    position: absolute;
			width: 100%;
			height: 18%;
			background-color: #161616;
			bottom: 0;
			right: 0;
			opacity: 0.3;
			color:#fff;
			text-align: center;
	}
	.goodsshow  .two  span{
		    font-size: 18px;
	}
	/* 预定 */
	.ydinfor{
		width:100%;
		height:65px;
		background-color:green;
		
	}
 	.ydinfor .one{
 		width: 12%;
	    color: #fff;
	    font-size: 17px;
	    margin-left: 7%;
	    padding-top: 3%;
	    float: left;
	}
	.ydinfor .two{
 		    width: 88%;
		    color: #fff;
		    font-size: 13px;
		    /* padding-top: 3%; */
		    /* float: left; */
		    line-height: 22px;
    		margin: auto;
	}
	.ydgoods{
 	    width: 40%;
 	    height: 203px;
     	float: left;
    	margin: 1% 5%;
	}
	.ydgoods img{
		width:100%;
		height: 150px;
	}
	.ydgoods span:nth-child(2){
		 display: block;
	     width: 100%;
	     float: left;
	     font-size: 17px;
	     text-align: left;
	     line-height: 24px;
 	}
 	.ydgoods span:nth-child(3){
		     display: block;
		    width: 55%;
		    float: left;
		    font-size: 12px;
		    text-align: left;
		    line-height: 26px;
 	}
 	.ydgoods span:nth-child(4){
		  display:block; width: 45%; float: left;font-size: 16px;text-align: right;color:blue;
 	}
	
	/* 个人中心 */
	.my-top {
	    background: #fdb801;
	    color: #fff;
	    padding: 10px 4%;
	    height: 16%;
	}
	.my-top-tx{
		display:block;
		float:left;
		width:27%;
		height:100px;
	}
 	.my-top-tx img{
		width:100%;
	}
	.my-top-text{
		display:block;
		float:left;
		width:50%;
		height:100px;
		margin-left: 5%;
	}
	.my-top-text p{
		display: block;
	    width: 100%;
	    float: left;
	    margin-top: 7%;
	    margin-left: 10%;
	    color:#fff;
	    font-size: 16px;
 	}
	.my-top-text img{
		height:100%;
	}
	
	.tj-list ul li {
	    border-top: 1px solid #d9d9d9;
	}
	.rm-list ul li {
	    width: 100%;
	    border-bottom: 1px solid #d9d9d9;
	    line-height: 50px;
	    background: #fff;
	}
	.rm-list ul li a {
	    color: #333;
	    padding: 0 15px;
	    display: block;
	}
	.my-list-one, .my-list-two, .my-list-three, .my-list-four, .my-list-five{
	    width: 30px;
	    height: 30px;
	    background-size: 100%;
	    display: inline-block;
	    float: left;
	    margin: 10px 10px 0 0;
	}
	.my-list-one {
	    background: url(../../images/youhuiquan.png);
	    background-size: 100%;
	}
	.my-list-two {
	    background: url(../../images/tihuojuan.png);
	    background-size: 100%;
	}
  	.my-list-three {
	    background: url(../../images/jifen.png);
	    background-size: 100%;
	}
	.my-list-four {
	    background: url(../../images/shouhuodizhi.png);
	    background-size: 100%;
	}
	.my-list-five {
	    background: url(../../images/dingdan.png);
	    background-size: 100%;
	}
	
	.z-arrow {
		margin-right: 10px;
	    margin-top: 18px;
	    border: solid #bbb;
	    -webkit-transform: rotate(45deg);
 	    font-size: 0;
	    line-height: 0;
	    float: right;
	    width: 10px;
	    height: 10px;
	    border-width: 2px 2px 0 0;
	    
	}
 
	
	.people-icon  {
	    background: url(../../images/wd.png) no-repeat 0 0;
	    width: 25px;
	    height: 25px;
	    background-size: 100%;
	    display: inline-block;
	    float: left;
 	    margin-right: 8px;
	}
	.showid-icon  {
	    background: url(../../images/wd.png) no-repeat 0 0;
	    width: 25px;
	    height: 25px;
	    background-size: 100%;
	    display: inline-block;
	    float: left;
 	    margin-right: 8px;
	}
	
	
	
	
	
	
	.footerdi{
		position: fixed;
		bottom: 0;
		z-index: 100;
		width: 100%;
		height: 7.1%;
		border-top: 1px solid #b3b3b3;
		padding:5px 0;
		background: #fff;
		font-size: 18px;
	}
	.footerdi ul li{
		float: left;
		width: 33%;
	}
	.footerdi ul li a{
		color: #8e8e8e;
		text-align: center;
		display: block;
	}
	.footerdi a i{
		display: block;
		background: url(../../images/f_set.png);
		background-size: 28px auto;
		margin: 0 auto;
	}
	.footerdi li.f_whole i{
		width: 30px;
		height: 25px;
		background-position: 0 -25px;
		position: relative;
		top: 2px;
	}
	.footerdi li.f_jiexiao i{
		width: 22px;
		height: 25px;
		background-position: 0 -76px;
		position: relative;
		top: 1px;
	}
	.footerdi li.f_car i{
		width: 22px;
		height: 25px;
		background-position: 0 -126px;
		position: relative;
		top: 1px;
	}
	.footerdi li.f_personal i{
		width: 22px;
		height: 25px;
		background-position: 0 -127px;
		position: relative;
		top: 1px;
	}
	.footerdi .f_whole i.cur{
		background-position: 0 0 !important
	}
	.footerdi .f_jiexiao i.cur{
		background-position: 0 -50px !important	
	}
	.footerdi .f_car i.cur{
		background-position:0 -102px !important
	}

	.footerdi .f_personal i.cur{
		background-position:0 -101px !important
	}
		
		
		
		
	/* 二级页面 *****************************************************************************************************************8 */
	header {
	    height: 44px;
	    width: 100%;
	    background: #fc111b;
	    line-height: 44px;
	    color: #fff;
	    position: fixed;
	    top: 0;
	    opacity: 0.8;
	}
	header .goback {
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 44px;
	    text-align: center;
	    line-height: 30px;
	    font-size: 3.5rem;
	}
	header .title {
	    width: 100%;
	    text-align: center;
	    line-height: 44px;
	    color: #fff;
	    font-size: 1.1rem;
	}
	
	
	
	/*商品详情页*/
	.center{
		width:100%;
		margin-top: 40px;
	}
	.twofooter {
	    position: fixed;
	    width: 100%;
	    height: 4.1rem;
	    background: #fff;
	    bottom: 0;
	    z-index: 2;
	}
	.twofooter a {
	    display: block;
	    position: relative;
	    float: left;
	    text-align: center;
	    height: 4rem;
 	    font-size: 1.4rem;
	}
	.twofooter .icon2 {
	    font-size: 3.4rem;
	}
	.twofooter .foot_gm {
	    line-height: 4rem;
	}
	.twofooter .foot_guc{
	    width: 29%;
 	    border-top: 1px solid #ccc;
	}
	.twofooter .foot_gm {
	    width: 70.5%;
	    border-left: 1px solid #ccc;
	    border-top: 1px solid #ccc;
	    background-color: #fbab2c;
	    color: #fff;
	}
	
	
	/* 购物车  */
		.shopping{
			padding-top: 50px;
			height: 91%;
			overflow-y:scroll;
			overflow-x:hidden;
			background: #fff;
		}
		.shop{
			padding: 0 0.71rem;
			background: #fff;
			margin-bottom: 1rem;
		}
 		.shop_item{
			position: relative;
		    z-index: 1;
		     height: 100px;
		    margin-bottom: 2px;
		}
		.shop_sign{
			margin-top: 3rem;
		}

		.shop_sign span{
			line-height: 3;
			padding: 0.1rem 0.2rem;
			background: #fff;
			border:2px solid #ccc;
			font-size: 0.85rem;
			text-align: center;
			color: #fff;
			border-radius: 50%;
			    margin-top: 16%;
		}
		li .span_check{
			background:#f85e61;
			border:2px solid #f85e61;
		}
		.shopname{
			font-size: 1.6rem;
			line-height: 2.85rem;
			padding-left: 3.2rem;
		}
		.shop_sign,.sp,.sp_chose,.sp_cont{
			float: left;
		}
		.sp{
			width: 93%;
		}
		.sp_tit{
			width: 100%;
		    height: 40%;
		    font-size: 18px;
		    text-align: center;
		     margin-top: 12px;
		     line-height: 14px;
		     float:left;
		}
		.sp_chose{
			width: 8.238rem;
			height: 8.238rem;
		}
		.sp_cont{
			width: 60%;
 			margin: 0.714rem;
			font-size: 1.4rem;
		}
		.sp_gg{
			color: #666;
			font-size: 1.4rem;
		}
		.sp_chose img{
			width:6.71rem;
			height:6.71rem;
			margin: 0.714rem;
		}
		.sp_sl{
			margin-top: 1.1rem;
			display: inline-block;
			border: 1px solid #ccc;
			    float: right;
		}
		.sljj{
			display: inline-block;
			width: 2.5rem;
			height: 2.5rem;
			font-size: 2.2rem;
			line-height: 1.4;
			text-align: center;
			border: 1px solid #ccc;
		}
		.sljj:active{
			background: #ccc;
			color: #000;
		}
		.down{
			color: #aaa;
		}
		.up{
			color: #c90000;
		}
		.number{
			display: inline-block;
			text-align: center;
			width: 2.4rem;
		}
		.sp_spr{
		     width: 32%;
		    margin-top: 16px;
		    line-height: 33px;
		     float:left;
		}
		.sp_xj{
			font-size: 1.6rem;
			text-align: right;

		}
		.sp_yj{
			font-size: 1.2rem;
			text-align: right;
			text-decoration: line-through;
		}
 		.shopfooter{
			border-top: 1px solid #ccc;
			position: fixed;
			width: 100%;
			height:4rem;
			background: #fff;
			bottom: 0;
			line-height: 4rem;
			padding-left: 1rem;
			font-size: 1.4rem;
		}
		.shopfooter span:nth-child(2){
			margin-left: 1rem;
		}
		.shopfooter span:nth-child(3){
			margin-left: 1rem;
		}
		.shopfooter span:nth-child(4){
			margin-left: 1rem;
		}
		.shopfooter .foot_xz{
			line-height: 3;
			padding: 0.1rem 0.2rem;
			background: #fff;
			border:2px solid #ccc;
			font-size: 0.85rem;
			text-align: center;
			color: #fff;
			border-radius: 50%;
		}
		.shopfooter .foot_tj{
			position: absolute;
			right: 0;
			bottom: 0;
			display: block;
			height: 4rem;
			width: 9rem;
			background: #fc0d1b;
			color: #fff;
			text-align: center;
			line-height: 4rem;
		}
 		.shopfooter .del_button{
			display: none;
			width: 20%;
			height: 100%;
			background: #c90000;
			transition: all 1s;
			position: absolute;
			right: -20%;
			top: 0;
			text-align: center;
			font-size: 2rem;
			line-height: 13rem;
			color:#fff;
		}
		.del_button {
		    	display: none;
		        width: 20%;
			    height: 90px;
			    background: #c90000;
			    transition: all 1s;
			    position: absolute;
			    right: -20%;
			    top: 0;
			    text-align: center;
			    font-size: 2rem;
			    line-height: 7rem;
			    color: #fff;
		}

  	
	
	/* ******************************************************************************************************8888   */
	
	
	
	
	.white{
		color: #fff;
	}
	.red{
		color:red;
	}
	
	
	