<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TaskMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into TB_TASK(
			ORDER_ID,	
			EXECTIME,	
			TASK_ID
		) values (
			#{order_id},	
			#{exectime},	
			#{task_id}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from TB_TASK
		where 
			ORDER_ID = #{order_id}
	</delete>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				order_id,	
				exectime,	
				task_id
		from 
				TB_TASK 
	</select>
</mapper>
	
